:root {
    --primary-color: #5e000060;;
    --secondary-color: #385e7575;
}

*{
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

/*********** header ************/

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    align-items: end;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 10px;
    background-color: var(--secondary-color);
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 80%;
}

header span {
    font-size: 1.7rem;
    text-align: center;
    font-weight: bold;
}

/*********** hamburger ************/

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 35%;
}

.hamburger::before {
    content: "\2630";
    font-size: 1.5rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 1.5rem;
}

/*********** navigation ************/

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: black;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: var(--primary-color);
}

/*********** grid/list toggle ************/

.members-menu {
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: var(--primary-color);
    text-align: center;
}

.members-menu button {
    padding: 0.5rem 1rem;
    font-weight: 700;
    padding: 20px;
}


.grid #cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 25px;
    place-items: center;
}

.grid section {
    border: 1px solid #ddd;
    border-radius: 20px;
    padding-bottom: 20px;
    min-width: 350px;
    background-color: #ddd;
}

.grid h3 {
    padding: 20px;
    text-align: center;
    margin-top: 0;
    background-color: var(--primary-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
    
.grid p {
    text-align: center;
    padding-left: 10px;
    line-height: 2px;
    font-size: smaller;
}
    
.grid img {
    display: block;
    width: 200px;
    height: auto;
    border: 2px solid #858383;
    margin: 0 auto;
}


.list {
    display: flex;
    flex-direction: column;
}
.list section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
    border: 1px solid #ddd;
}

.list img {
    display: none;
}

.list h3 {
    font-size: 1rem;
    padding: 10px;
}

.list p {
    font-size: 0.8rem;
    padding: 10px;
}

.list section:nth-child(even) {
    background-color: var(--primary-color);
}
    


/*********** main ************/

h1 {
    padding: 20px;
}

#hero {
    width: 100%;
    height: auto;
    border: 2px solid #858383;
    margin-bottom: 20px;
}

main {
    margin: 0 auto;
    max-width: 400px;
}

.section-events,
.section-weather,
.section-forecast {
    background-color: #ddd;
    margin-bottom: 10px;
    min-width: 250px;
    padding-bottom: 10px;
}

.section-weather p{
    line-height: 1px;
}

.section-forecast p{
    line-height: 20px;
    font-size: larger;
}

.section-weather img{
    height: 100px;
    width: auto;
    padding: 10px;
}

main h2 {
    padding: 10px;
    text-align: center;
    margin-top: 0;
    background-color: var(--secondary-color);
}

main p {
    padding: 4px 15px;
    text-align: justify;
}
/**
#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 25px;
    place-items: center;
}

#cards section{
    border: 1px solid #ddd;
    border-radius: 20px;
    padding-bottom: 20px;
    min-width: 350px;
    background-color: #ddd;
}

#cards h3{
    padding: 20px;
    text-align: center;
    margin-top: 0;
    background-color: var(--primary-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#cards p {
    text-align: center;
    padding-left: 10px;
    line-height: 2px;
    font-size: smaller;
}

#cards img{
    display: block;
    width: 200px;
    height: auto;
    border: 2px solid #858383;
    margin: 0 auto;
} **/


/*********** footer ************/

footer{
    background-color: var(--primary-color);
    padding: 10px;
    margin-top: 20px;
}

footer p {
    margin: 0;
    text-align: left;
    font-weight: bold;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    padding: 15px;
    align-items: center;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #ddd solid 2px;
    border-radius: 33px;
    width: 60px;
    height: 60px;
    background-color: #eee;
}

.social img {
    width: 22px;
    height: 22px;

}

.social a:hover {
    background-color: var(--primary-color);
}